@charset "UTF-8";
/*
 em html é "id" == em css é "#"; mas apenas se usa uma vez segundo a regra do W3C
 em html é "class" == em css é "."; podendo usar muitas vezes, cuidado com a semantica do class.
*/

body{
    background-color: rgb(154, 245, 163);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: rgb(50, 112, 39);
}
h1#principal{
    text-align: center;
    background-color: rgb(50, 112, 39);
    color: white;
}
h2{
    color: rgb(36, 189, 9)
}
p{
    text-align: justify;
    text-indent: 20px;
}
.basico{
    background-color: rgb(212, 212, 88);
}
.intermediario{
    background-color: green;
}
.avancado{
    color: rgb(150, 33, 33);
}
